<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
  <label>
    <span>Full name</span>
    <input type="text" placeholder="Your full name" formControlName="name">
  </label>
  <div class="error" *ngIf="!user.get('name').valid">
    Name is required
  </div>
  <div class="error" *ngIf="user.get('name').touched && user.get('name').hasError('minlength')">
    Minimum of 2 characters
  </div>
  <br>
  <div formGroupName="account">
    <label>
      <span>Email address</span>
      <input type="email" placeholder="Your email address" formControlName="email">
    </label>
    <div
      class="error"
      *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
      Email is required
    </div>
    <br>
    <label>
      <span>Confirm address</span>
      <input type="email" placeholder="Confirm your email address" formControlName="confirm">
    </label>
    <div
      class="error"
      *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
      Confirming email is required
    </div>
  </div>
    <br>

    <div class=form-group formGroupName="EmpidGroup">
      <label>Empid</label>
      <input [class.is-invalid]="user.get('EmpidGroup').get('empid').invalid && user.get('EmpidGroup').get('empid').touched" formControlName="empid" type="text" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="registerationForm.get('emailGroup').get('empid').valid || registerationForm.get('emailGroup').get('empid').untouched">Empid needs to be filled.</small> -->
      
      
      
      <div class=form-group>
      <label>Confirm Empid</label>
      <input [class.is-invalid]="user.get('EmpidGroup').get('confirmempid').invalid && user.get('EmpidGroup').get('confirmempid').touched" formControlName="confirmempid" type="text" class="form-control">
      </div>
      <div *ngIf="user.get('EmpidGroup').errors?.Pass">Empid Mismatch</div>
      
      </div>
    <label>
      <span>Age</span>
      <input type="text"  formControlName="age">
    </label>

    <div
      class="error"
      *ngIf="user.get('age').invalid && user.get('age').touched">
      Age is not in required range
    </div>
  
  <br>
  <button type="submit" [disabled]="user.invalid">Sign up</button>

  
</form>




